{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block header %}

{{
    dwpHeader({
        serviceName: "Disc",
        serviceHref: '#',
        container: true
    })
}}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "#",
      text: "Customer management",
      active: true
    },
    {
      href: "#",
      text: "Claims mangment"
    },
    {
      href: "#",
      text: "Business information"
    },
    {
      href: "#",
      text: "System administration"
    }
  ]
}) }}


{% endblock %}


{% block footer %}
    {{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "footer links",
                items: [
                {
                    href: "#1",
                    text: "Accessibility statement"
                },
                {
                    href: "#2",
                    text: "Privacy"
                }
                ]
            }
        })
    }}
{% endblock %}